<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MV</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <section class="showcase">
        <header>
          <h2 class="logo">SpaceMusic</h2>
          <div class="toggle"></div>
        </header>
        <video src="./img/music 2.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
          <h2>SUA VISÃO DE MUSICA</h2> 
          <h3>É LIBERDADE!</h3>
          <p>Cante, dance, conecte-se com o mundo, 
            liberte-se, viva e deixe-se levar.</p>
          <a href="#">conecte-se</a>
          <audio class="music">

          </audio>
        </div>
        <ul class="social">
          <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
          <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
      </section>
      <div class="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Planos</a></li>         
          <li><a href="#">Conta</a></li>
        </ul>
      </div>

      <script src="./js/script.js">

      </script>
</body>
</html>